/* Minimalistic and futuristic style for the conversion view. Its name, "Clinic", reminds of the purity of a hospital. */

/* -------
	Fonts
   ------- */
/* Bariol Regular */
@font-face {
	/* Typography */
	font-family: Bariol;
	src: url('../../fonts/bariol_regular.ttf');
}

/* Bariol Bold */
@font-face {
	/* Typography */
	font-family: Bariol;
	font-weight: bold;
	src: url('../../fonts/bariol_bold.ttf');
}

/* Bariol Light */
@font-face {
	/* Typography */
	font-family: BariolLight;
	src: url('../../fonts/bariol_light.ttf');
}

/* Bariol Italic */
@font-face {
	/* Typography */
	font-family: Bariol;
	font-style: italic;
	src: url('../../fonts/bariol_regular_italic.ttf');
}

/* Bariol Bold Italic */
@font-face {
	/* Typography */
	font-family: Bariol;
	font-style: italic;
	font-weight: bold;
	src: url('../../fonts/bariol_bold_italic.ttf');
}

/* Bariol Light Italic */
@font-face {
	/* Typography */
	font-family: BariolLight;
	font-style: italic;
	src: url('../../fonts/bariol_light_italic.ttf');
}

.sheet:last-of-type .clinic {
	/* Typography */
	font-family: Bariol, sans-serif;
	font-size: 1.1em;
	line-height: 1.5em;
	/*-webkit-font-smoothing: antialiased;*/
}

/* ------------
	Paragraphs
   ------------ */
.sheet:last-of-type p,
.sheet:last-of-type ol, /* Organized and unorganized lists follow the same rule : a blank space at the bottom */
.sheet:last-of-type ul {
	/* Box-model */
	padding-bottom: 0.7em;
}

/* --------
	Titles
   -------- */
.sheet:last-of-type .clinic h1,
.sheet:last-of-type .clinic h2 {
	/* Typography */
	font-family: BariolLight;
}

.sheet:last-of-type .clinic h1 {
	/* Box-model */
	padding: 0.6em 0 0.3em;

	/* Typography */
	font-size: 3em;
}

.sheet:last-of-type .clinic h2 {
	/* Box-model */
	padding: 0.7em 0 0.5em;

	/* Typography */
	font-size: 2em;
}

.sheet:last-of-type .clinic h3 {
	/* Box-model */
	padding: 0.75em 0;

	/* Typography */
	font-family: Bariol;
	font-size: 1.25em;
}

.sheet:last-of-type .clinic h4 {
	/* Box-model */
	padding: 0.7em 0;

	/* Typography */
	font-weight: bold;
}

.sheet:last-of-type .clinic h5 {
	/* Box-model */
	padding-bottom: 0.85em;

	/* Typography */
	font-size: 0.85em;
	font-weight: bold;
}

.sheet:last-of-type .clinic h6 {
	/* Typography */
	font-size: 0.8em;
	font-weight: bold;
}

/* -------
	Lists
   ------- */
/* UNORDERED LISTS */
.sheet:last-of-type .clinic ul li { padding-left: 2em; }

.sheet:last-of-type .clinic ul li:before { padding-left: 0; }

/* Sub-lists */
.sheet:last-of-type .clinic ul ul { padding-bottom: 0; }

/* ORDERED LISTS */
.sheet:last-of-type .clinic ol li { padding-left: 2em; }

.sheet:last-of-type .clinic ol li:before {
	/* Box-model */
	padding-left: 0;

	/* Typography */
	font-weight: bold;
	text-align: left;

	/* Misc */
	content: counter(list);
}

/* Sub-lists */
.sheet:last-of-type .clinic ol ol { padding-bottom: 0; }

/* -------------
	Blockquotes
   ------------- */
.sheet:last-of-type .clinic blockquote {
	/* Positioning */
	margin-bottom: 0.7em;

	/* Box-model */
	padding: 0.7em 0 0 1em;

	/* Visual */
	background-color: rgba(0,0,0,.05);
	border-left: none;
}

/* ------------------
	Horizontal rules
   ------------------ */
.sheet:last-of-type .clinic hr { margin: 0.7em auto 1.5em; }

/* ------
	Code
   ------ */
.sheet:last-of-type .clinic code {
	/* Typography */
	font-size: 0.85em;
	line-height: 1.45em;
}