/* Minimalistic and futuristic style for the conversion view. Its name, "Clinic", reminds of the purity of a hospital. */

/* -------
	Fonts
   ------- */
.sheet:last-of-type {
	/* Typography */
	font-family: Bariol, sans-serif;
	font-size: 1.1em;
	line-height: 1.5em;
	/*-webkit-font-smoothing: antialiased;*/
}

/* ------------
	Paragraphs
   ------------ */
.sheet:last-of-type p,
.sheet:last-of-type ol, /* Organized and unorganized lists follow the same rule : a blank space at the bottom */
.sheet:last-of-type ul {
	/* Box-model */
	padding-bottom: 0.7em;
}

/* --------
	Titles
   -------- */
.sheet:last-of-type h1,
.sheet:last-of-type h2 {
	/* Typography */
	font-family: BariolLight;
}

.sheet:last-of-type h1 {
	/* Box-model */
	padding: 0.6em 0 0.3em;

	/* Typography */
	font-size: 3em;
}

.sheet:last-of-type h2 {
	/* Box-model */
	padding: 0.7em 0 0.5em;

	/* Typography */
	font-size: 2em;
}

.sheet:last-of-type h3 {
	/* Box-model */
	padding: 0.75em 0;

	/* Typography */
	font-family: Bariol;
	font-size: 1.25em;
}

.sheet:last-of-type h4 {
	/* Box-model */
	padding: 0.7em 0;

	/* Typography */
	font-weight: bold;
}

.sheet:last-of-type h5 {
	/* Box-model */
	padding-bottom: 0.85em;

	/* Typography */
	font-size: 0.85em;
	font-weight: bold;
}

.sheet:last-of-type h6 {
	/* Typography */
	font-size: 0.8em;
	font-weight: bold;
}

/* -------
	Lists
   ------- */
/* UNORDERED LISTS */
.sheet:last-of-type ul > li { padding-left: 2em; }

.sheet:last-of-type ul > li:before { padding-left: 0; }

/* ORDERED LISTS */
.sheet:last-of-type ol > li { padding-left: 2em; }

.sheet:last-of-type ol > li:before {
	/* Box-model */
	padding-left: 0;

	/* Typography */
	font-weight: bold;
	text-align: left;

	/* Misc */
	content: counter(list);
}

/* Prevent empty list items to be displayed without a height */
.sheet:last-of-type li:empty { height: 1.5em; }

/* SUB-LISTS */
.sheet:last-of-type ol ol,
.sheet:last-of-type ol ul,
.sheet:last-of-type ul ul,
.sheet:last-of-type ul ol {
	/* Box-model */
	padding-bottom: 0;
}

/* -------------
	Blockquotes
   ------------- */
.sheet:last-of-type blockquote {
	/* Positioning */
	margin-bottom: 0.7em;

	/* Box-model */
	padding: 0.7em 0 0 1em;

	/* Visual */
	background-color: rgba(0,0,0,.05);
	border-left: none;
}

/* ------------------
	Horizontal rules
   ------------------ */
.sheet:last-of-type hr { margin: 0.7em auto 1.5em; }

/* ------
	Code
   ------ */
.sheet:last-of-type code {
	/* Typography */
	font-size: 0.85em;
	line-height: 1.45em;
}