/* Default style for the conversion view. Its name, "Home", is obvious and reminds of the comfort and softness of a familiar house. */

/* -------
	Lists
   ------- */
/* UNORDERED LISTS */
.sheet:last-of-type ul > li:before {
	/* Box-model */
	width: 2em;

	/* Typography */
	text-align: right;
}

/* ORDERED LISTS */
.sheet:last-of-type ol > li:before {
	/* Box-model */
	width: 2em;

	/* Typography */
	text-align: right;

	/* Misc */
	content: counter(list)".";
}

/* -------------
	Blockquotes
   ------------- */
.sheet:last-of-type blockquote {
	/* Positioning */
	margin-bottom: 0.7em;
	margin-left: auto;

	/* Box-model */
	width: calc(100% - 2.4em);
	padding: 0.7em 0 0 1.2em;

	/* Visual */
	border-left: 0.7em solid rgba(0,0,0,.1);
}