/* Newspaper style for the conversion view. Its name, "Tramway", reminds of the time spent reading a journal in the public transport. */

/* -------
	Fonts
   ------- */
.sheet:last-of-type {
	/* Typography */
	font-family: Arvo, serif;
	font-size: 1em;
	line-height: 1.35em;
}

/* ------------
	Paragraphs
   ------------ */
.sheet:last-of-type p,
.sheet:last-of-type ol, /* Organized and unorganized lists follow the same rule : a blank space at the bottom */
.sheet:last-of-type ul {
	/* Box-model */
	padding-bottom: 0.65em;
}

/* --------
	Titles
   -------- */
.sheet:last-of-type h1,
.sheet:last-of-type h2,
.sheet:last-of-type h3 {
	/* Typography */
	font-family: Arvo;
}

.sheet:last-of-type h1 {
	/* Box-model */
	padding: 0.35em 0;

	/* Typography */
	font-size: 3em;
}

.sheet:last-of-type h2 {
	/* Box-model */
	padding: 0.3em 0 0.65em;

	/* Typography */
	font-size: 2em;
}

.sheet:last-of-type h3 {
	/* Box-model */
	padding: 0.5em 0;

	/* Typography */
	font-size: 1.25em;
}

.sheet:last-of-type h4 {
	/* Box-model */
	padding: 0.65em 0;

	/* Typography */
	font-weight: bold;
}

.sheet:last-of-type h5 {
	/* Box-model */
	padding-bottom: 0.8em;

	/* Typography */
	font-size: 0.8em;
	font-weight: bold;
}

.sheet:last-of-type h6 {
	/* Typography */
	font-size: 0.75em;
	font-weight: bold;
}

/* -------
	Lists
   ------- */
/* UNORDERED LISTS */
.sheet:last-of-type ul > li { padding-left: 2em; }

.sheet:last-of-type ul > li:before { width: 2em; }

/* ORDERED LISTS */
.sheet:last-of-type ol > li { padding-left: 2em; }

.sheet:last-of-type ol > li:before {
	/* Box-model */
	width: 2em;

	/* Misc */
	content: counter(list)".";
}

/* SUB-LISTS */
.sheet:last-of-type ol ol,
.sheet:last-of-type ol ul,
.sheet:last-of-type ul ul,
.sheet:last-of-type ul ol {
	/* Box-model */
	padding-bottom: 0;
}

/* -------------
	Blockquotes
   ------------- */
.sheet:last-of-type blockquote {
	/* Box-model */
	padding: 0 1.35em;

	/* Typography */
	font-size: 1.05em;
	text-align: center;
}

/* ------------------
	Horizontal rules
   ------------------ */
.sheet:last-of-type hr {
	margin: 0.65em auto 1.35em; /* No matter the size of the rule, it will be centered */

	/* Box-model */
	width: calc(100% - 4em);

	/* Visual */
	background-color: #4a4942;
}