/* Minimalistic and futuristic style for the conversion view. Its name, "Clinic", reminds of the purity of a hospital. */

/* -------
	Fonts
   ------- */
/* Bariol Regular */
@font-face {
	/* Typography */
	font-family: Bariol;
	src: url('../../fonts/bariol_regular.ttf');
}

/* Bariol Bold */
@font-face {
	/* Typography */
	font-family: Bariol;
	font-weight: bold;
	src: url('../../fonts/bariol_bold.ttf');
}

/* Bariol Light */
@font-face {
	/* Typography */
	font-family: BariolLight;
	src: url('../../fonts/bariol_light.ttf');
}

/* Bariol Italic */
@font-face {
	/* Typography */
	font-family: Bariol;
	font-style: italic;
	src: url('../../fonts/bariol_regular_italic.ttf');
}

/* Bariol Bold Italic */
@font-face {
	/* Typography */
	font-family: Bariol;
	font-style: italic;
	font-weight: bold;
	src: url('../../fonts/bariol_bold_italic.ttf');
}

/* Bariol Light Italic */
@font-face {
	/* Typography */
	font-family: BariolLight;
	font-style: italic;
	src: url('../../fonts/bariol_light_italic.ttf');
}

.sheet:last-of-type .clinic {
	/* Typography */
	font-family: Bariol, sans-serif;
	font-size: 14pt;
	line-height: 21pt;
	/*-webkit-font-smoothing: antialiased;*/
}

/* ------------
	Paragraphs
   ------------ */
.sheet:last-of-type p,
.sheet:last-of-type ol, /* Organized and unorganized lists follow the same rule : a blank space at the bottom */
.sheet:last-of-type ul {
	/* Box-model */
	padding-bottom: 10.5pt;
}

/* --------
	Titles
   -------- */
.sheet:last-of-type .clinic h1,
.sheet:last-of-type .clinic h2 {
	/* Typography */
	font-family: BariolLight;
}

.sheet:last-of-type .clinic h1 {
	/* Box-model */
	padding: 28pt 0 14pt;

	/* Typography */
	font-size: 42pt;
	line-height: 63pt;
}

.sheet:last-of-type .clinic h2 {
	/* Box-model */
	padding: 21pt 0 14pt;

	/* Typography */
	font-size: 28pt;
	line-height: 42pt;
}

.sheet:last-of-type .clinic h3 {
	/* Box-model */
	padding: 14pt 0;

	/* Typography */
	font-family: Bariol;
	font-size: 18pt;
	line-height: 21pt;
}

/* /!\ STILL 3 HEADER STYLES TO MAKE */
.sheet:last-of-type .clinic h4 {
	/* Box-model */
	padding: 10.5pt 0;

	/* Typography */
	font-size: 14pt;
	font-weight: bold;
	line-height: 21pt;
}

.sheet:last-of-type .clinic h5 {
	/* Box-model */
	padding-bottom: 10.5pt;

	/* Typography */
	font-size: 12pt;
	font-weight: bold;
	line-height: 21pt;
}

.sheet:last-of-type .clinic h6 {
	/* Typography */
	font-size: 11pt;
	font-weight: bold;
	line-height: 21pt;
}

/* -------
	Lists
   ------- */
/* UNORDERED LISTS */
.sheet:last-of-type .clinic ul li { padding-left: 28pt; }

.sheet:last-of-type .clinic ul li:before { padding-left: 0; }

/* Sub-lists */
.sheet:last-of-type .clinic ul ul { padding-bottom: 0; }

/* ORDERED LISTS */
.sheet:last-of-type .clinic ol li { padding-left: 28pt; }

.sheet:last-of-type .clinic ol li:before {
	/* Box-model */
	padding-left: 0;

	/* Typography */
	font-weight: bold;
	text-align: left;

	/* Misc */
	content: counter(list);
}

/* Sub-lists */
.sheet:last-of-type .clinic ol ol { padding-bottom: 0; }

/* -------------
	Blockquotes
   ------------- */
.sheet:last-of-type .clinic blockquote {
	/* Positioning */
	margin-bottom: 10.5pt;

	/* Box-model */
	padding: 10.5pt 0 0 14pt;

	/* Visual */
	background-color: rgba(0,0,0,.05);
	border-left: none;
}

/* ------------------
	Horizontal rules
   ------------------ */
.sheet:last-of-type hr { margin: 10.5pt auto 21pt; }