/* ==============
	MISCELLANOUS
   ============== */
* {
	/* Box-model */
	box-sizing: border-box; /* Simplifies width and height calculation. */

	/* Misc */
	outline: none; /* Disables default outlining style (on Google Chrome, a golden border light). */
}

html,
body {
	/* Box-model */
	width: 100%;
	height: 100%;
}

body {
	/* Box-model */
	padding: 40px 0 20px; /* Simplifies positioning according to the topbar and the footer. */
	overflow: hidden;

	/* Typography */
	font-family: "Segoe UI", "Helvetica Neue", Roboto, "Open Sans", sans-serif; /* System fonts for Windows, OS X and Android/Chrome OS. */
	font-size: 11pt;

	/* Visual */
	background-color: #fafafa;
}

/* The button class forces the cursor to be pointer. */
.button { cursor: pointer; }

/* Basic styles */
em { font-style: italic; }

strong { font-weight: bold; }

/* =======
	FONTS
   ======= */
@font-face {
	/* Typography */
	font-family: SourceCodePro;
	src: url('../fonts/SourceCodePro-Regular.ttf');
}

/* ========
	NAVBAR
   ======== */

/* Building the navbar's structure. */
#navbar {
	/* Positioning */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	/* Box-model */
	width: 100%;
	height: 40px;

	/* Typography */
	color: white;

	/* Visual */
	background-color: #325c9c;

	/* Misc */
	-webkit-user-select: none; /* Disabling the selection on every item of the navbar. */
}

/* --------------
	Navbar items
   -------------- */
/* Items on the left */
#navbar li { float: left; }

/* Slight space on the left of the first item ("New") */
#navbar li:first-of-type { margin-left: 5px; }

/* All items except the main switch */
#navbar li,
#more {
	/* Box-model */
	padding: 0 5px;

	/* Typography */
	line-height: 40px;

	/* Misc */
	cursor: pointer;
}

#navbar li:hover,
#more:hover { background-color: #3e6aab; }

/* Navbar "more" button is on the right and has a slight space on its right, like the "New" button */
#more {
	/* Positioning */
	margin-right: 5px;

	/* Box-model */
	float: right;
}

/* ---------------
	Navbar switch
   --------------- */
#view-switch {
	/* Positioning */
	/* Absolute centering, found on http://codepen.io/shshaw/full/gEiDt */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	/* Box-model */
	width: 220px;
	height: 100%;
	padding-top: 7px;
}

.switch-button {
	/* Box-model */
	height: 26px;
	float: left;
	padding: 0 5px;
	overflow: hidden;

	/* Typography */
	font-size: 10pt;
	line-height: 26px;
	text-align: center;

	/* Visual */
	background-color: #143d7a; /* Use #103365 for activated state. */
	border-color: #103365; /* Prevents buggy color transition */

	/* Misc */
	cursor: pointer;
}

/* The first and the third switch buttons ("Markdown" & "HTML") */
.switch-button:nth-of-type(2n-1) { width: 90px; }

/* The second switch button ("Both") */
.switch-button:nth-of-type(2) { width: 40px; }

/* The switch button on the left ("Markdown") */
.switch-button:first-of-type { border-radius: 3px 0 0 3px; }

/* The switch button on the right ("HTML") */
.switch-button:last-of-type { border-radius: 0 3px 3px 0; }

/* When the user hovers a switch button that is not activated already */
.switch-button:not(.activated):hover {
	/* Typography */
	line-height: 24px;

	/* Visual */
	background-color: #194584;
	border-bottom: 2px solid #103365;

	/* Misc */
	transition: all .2s ease;
}

.switch-button.activated {
	/* Typography */
	line-height: 24px;

	/* Visual */
	background-color: #103365;
	border-top: 2px solid #0c2a54;

	/* Misc */
	cursor: default;
}

/* The switch cursor is a triangle showing which display mode is on */
#switch-cursor {
	/* Positioning */
	position: fixed;
	top: 36px;
	left: 50%;
	z-index: 1500;

	/* Box-model */
	width: 0;
	height: 0;

	/* Visual */
	border-color: transparent transparent #fafafa;
	border-style: solid;
	border-width: 0 4px 4px;

	/* Misc */
	transition: margin-left .15s ease-out;
}

/* Switch cursor's position when in normal mode */
.normal #switch-cursor { margin-left: -4px; }

/* Switch cursor's position when in markdown view */
.markdown-view #switch-cursor { margin-left: -69px; }

/* Switch cursor's position when in HTML view */
.conversion-view #switch-cursor { margin-left: 61px; }


/* ==============
	MAIN CONTENT
   ============== */

/* ----------
	Sidebars
   ---------- */
.sidebar {
	/* Positioning */
	position: absolute;
	top: 0;

	/* Box-model */
	width: 40px;

	/* Misc */
	-webkit-user-select: none; /* Disabling the selection on every item of the sidebars. */
}

.sidebar .button {
	/* Box-model */
	width: 40px;
	height: 40px;
}

.sidebar input[type="text"] {
	/* Box-model */
	width: 300px;
	height: 30px;
	padding: 0 5px;

	/* Visual */
	border: none;
	border-radius: 2px;
}

/* Markdown sidebar */
#md-control { left: 0; }

/* HELP INPUT */
/* Help input container */
#help-input-container {
	/* Positioning */
	position: relative;

	/* Box-model */
	width: 40px; /* In order not to interfere with the textarea */
	overflow: visible; /* In order to let the help input displayer display properly */
}

/* The displayer for the input is actually a container that fades out when combined with the "hidden" class */
#help-input-displayer {
	/* Positioning */
	position: absolute;
	top: 5px;
	left: 40px;

	/* Box-model */
	width: 315px;
	height: 160px; /* Equals to the whole thing's max height */
	overflow: hidden;

	/* Misc */
	opacity: 1;
	transition: all .2s ease-out;
}

/* When the displayer is hidden */
#help-input-displayer.hidden {
	/* Box-model */
	width: 0;

	/* Misc */
	opacity: 0;
}

/* The arrow is a gray corner for the "box" (see #help-input-box below) */
#help-input-arrow {
	/* Positioning */
	position: absolute;
	top: 11px; /* The tip matches the middle of the button */
	left: 1px;

	/* Box-model */
	width: 0;
	height: 0;

	/* Visual */
	border-color: transparent #4a4942 transparent transparent;
	border-style: solid;
	border-width: 4px 4px 4px 0;
}

/* The "box" is a gray container for the input; it comes with an arrow (see #help-input-arrow above) */
#help-input-box {
	/* Positioning */
	position: absolute;
	top: 0;
	left: 5px;

	/* Box-model */
	width: 310px;
	height: auto;
	padding: 5px;

	/* Visual */
	background-color: #4a4942;
	border-radius: 5px;
}

/* Help results */
#help-results-container {
	/* Box-model */
	/* No default height set: its height is set by its possible classes. */
	overflow: hidden;
	
	/* Typography */
	font-size: 10pt;
	line-height: 12pt;
	color: #fafafa;

	/* Misc */
	opacity: 1;
	transition: all .2s ease-out;
}

/* The four cases for the help results */
#help-results-container.hidden {
	/* Box-model */
	height: 0;

	/* Misc */
	opacity: 0;
}

#help-results-container.one-result { height: 40px; }

#help-results-container.two-results { height: 80px; }

#help-results-container.three-results { height: 120px; }

/* Container for both the answer and the example, also features a switch button to navigate between each */
.result {
	/* Positioning */
	position: relative;

	/* Box-model */
	width: 200%; /* Twice the #help-results-container's width */
	height: 40px;
}

.result:not(:first-of-type) {
	/* Visual */
	border-top: 1px solid #5a5952;
}

/* The button to switch between the answer and the example */
.result-switch {
	/* Positioning */
	position: absolute;
	top: 50%;
	right: 50%;
	margin: -5px 10px 0 0;
	z-index: 1000;

	/* Box-model */
	width: 10px;
	height: 10px;

	/* Visual */
	background-color: red;

	/* Misc */
	cursor: pointer;
}

.answer,
.example {
	/* Box-model */
	padding-right: 30px;
}

/* Markdown answer of the help result, visible until the switch button is clicked */
.answer:first-of-type { top: 0; }

.answer {
	/* Positioning */
	position: absolute;
	top: 5px;
	left: 0;

	/* Box-model */
	width: 50%; /* Half the .result's width, which means all the #help-results-container's width */
	height: 100%; /* All the .result's height */

	/* Misc */
	transition: left .2s ease-out;
}

/* Answer behaviour when the switch is activated: it slides to the left and disappears */
.result.switched .answer { left: -50%; }

/* Example version of the help result, visible once the switch button is clicked */
.example:first-of-type { top: 0; }

.example {
	/* Positioning */
	position: absolute;
	top: 5px;
	left: 50%;

	/* Box-model */
	width: 50%;
	height: 100%;

	/* Misc */
	transition: left .15s ease-out;
}

/* Example behaviour once the switch is activated: it slides to the left and shows up */
.result.switched .example { left: 0; }

/* Part of the answer that matches the input */
.match {
	/* Visual */
	border-radius: 2px;

	/* Typography */
	color: #fff;

	/* Visual */
	background-color: #636363;
}

/* LINK INSERTION */
/* Link insertion container */
#link-insertion-container {
	/* Positioning */
	position: relative;
	
	/* Box-model */
	width: 40px;
	overflow: visible;
}

/* The displayer for the link inputs is actually a container that fades out when combined with the "hidden" class */
#link-insertion-displayer {
	/* Positioning */
	position: absolute;
	top: 5px;
	left: 40px;

	/* Box-model */
	width: 315px;
	height: 75px; /* Equal to the whole thing's height */
	overflow: hidden;

	/* Misc */
	opacity: 1;
	transition: all .2s ease-out;
}

/* When the displayer is hidden */
#link-insertion-displayer.hidden {
	/* Box-model */
	width: 0;
	
	/* Misc */
	opacity: 0;
}

/* The arrow is a gray corner for the "box" (see #link-insertion-box below) */
/* /!\ COMMON STYLES WITH #help-input-arrow! */
#link-insertion-arrow {
	/* Positioning */
	position: absolute;
	top: 11px; /* The tip matches the middle of the button */
	left: 1px;

	/* Box-model */
	width: 0;
	height: 0;

	/* Visual */
	border-color: transparent #4a4942 transparent transparent;
	border-style: solid;
	border-width: 4px 4px 4px 0;
}

/* The "box" is a gray container for the input; it comes with an arrow (see #link-insertion-arrow above) */
/* /!\ COMMON STYLES WITH #help-input-box! */
#link-insertion-box {
	/* Positioning */
	position: absolute;
	top: 0;
	left: 5px;

	/* Box-model */
	width: 310px;
	height: auto;
	padding: 5px;

	/* Visual */
	background-color: #4a4942;
	border-radius: 5px;
}

/* Optional input in which the user can add a text for his link */
#hypertext-input {
	/* Positioning */
	margin-top: 5px;
}

/* HTML conversion sidebar */
#conversion-control { right: 0; }

/* -----------
	Workspace
   ----------- */
/* Wrapping all the content in the "workspace" div. */
#workspace {
	/* Positioning */
	position: relative;

	/* Box-model */
	width: 100%;
	height: 100%;

	/* Misc */
	transition: all .5s ease-out;
}

/* Setting the possible states for the "workspace" div and their behavior. */
#workspace.markdown-view {
	/* Positioning */
	margin-left: 0;

	/* Box-model */
	width: 200%;
}

#workspace.normal {
	/* Positioning */
	margin-left: 0;

	/* Box-model */
	width: 100%;
}

#workspace.conversion-view {
	/* Positioning */
	margin-left: -100%;

	/* Box-model */
	width: 200%;
}

/* --------
	Sheets
   -------- */
.sheet {
	/* Box-model */
	width: 50%;
	min-height: 100%;
	height: auto;
	float: left;
	padding: 0 40px;
}

/* ---------------
	Markdown area
   --------------- */
#markdown {
	/* /!\ FORMER STYLES */
	font-family: SourceCodePro;
	font-size: 15px;
	width: 100%;
	padding: 40px 10px 10px;
	resize: none;
	transition: all .7s ease, height 0 ease; /* Height 0 for a perfect autosize */

	/* Box-model */
	height: 100% !important;

	/* Visual */
	border: none;
	background-color: transparent;
}

/* -----------
	HTML area
   ----------- */
#html-conversion { padding-top: 40px; }

/* ----------------------
	Center vertical line
   ---------------------- */
#center-line-container {
	/* Positioning */
	position: fixed;
	top: 0;
	left: 50%;

	/* Box-model */
	width: 1px;
	height: 100%;
	padding: 100px 0 60px; /* /!\ ADJUST PADDING ACCORDING TO THE FINAL APP */

	/* Misc */
	transition: all .5s ease-out; /* /!\ SAME TRANSITION AS #workspace */
}

/* The visual center line. Nothing to change here. */
#center-line {
	/* Box-model */
	width: 100%;
	height: 100%;

	/* Visual */
	background-color: #eaeaea; /* /!\ CHANGE FOR AESTHETIC? */
}

/* Center line behavior according to the workspace mode */
.markdown-view #center-line-container {
	/* Positioning */
	left: 100%;

	/* Misc */
	opacity: 0;
}

.normal #center-line-container { opacity: 1; }

.conversion-view #center-line-container {
	/* Psotioning */
	left: 0; /* Slides to the left with the conversion area */

	/* Misc */
	opacity: 0; /* Fades out */
}

/* ============
	BOTTOM BAR
   ============ */
footer {
	/* Positioning */
	position: fixed;
	bottom: 0;
	left: 0;

	/* Box-model */
	width: 100%;
	height: 20px;

	/* Typography */
	font-size: 10pt;
	line-height: 20px;
	color: #fafafa;
	text-shadow: -1px -1px 0 #444;

	/* Visual */
	background-color: #636363;

	/* Misc */
	cursor: default;
	-webkit-user-select: none; /* Disabling the selection on every item of the footer. */
}

#character-nb,
#word-nb {
	/* Visual */
	border-radius: 2px;

	/* Misc */
	cursor: pointer;
}

#character-nb:hover,
#word-nb:hover {
	/* Typography */
	color: #fff;

	/* Visual */
	background-color: #737373;

}

#character-nb:active,
#word-nb:active {
	/* Visual */
	background-color: #525252;
}