/* ==============
	MAIN CONTENT
   ============== */

/* ----------
	Sidebars
   ---------- */
.sidebar {
	/* Positioning */
	position: absolute;
	top: 0;

	/* Box-model */
	width: 40px;
}

/* Icon buttons in the sidebars */
.tool {
	/* Box-model */
	width: 40px;
	height: 40px;

	/* Typography */
	color: #4a4942;
	text-align: center;
	line-height: 40px;
}

.tool:hover { color: #000; }

/* SIDEBAR TOOLS */
/* Sidebar tool container */
.tool-container {
	/* Positioning */
	position: relative;

	/* Box-model */
	width: 40px; /* In order not to interfere with the textarea */
	overflow: visible; /* In order to let the help input displayer display properly */
}

/* The displayer is actually a container that fades out when combined with the "hidden" class */
.tool-displayer {
	/* Positioning */
	position: absolute;
	top: 5px;

	/* Box-model */
	width: 315px;

	/* Misc */
	transition: all .1s ease-out;
}

/* When the displayer is hidden */
.tool-displayer.hidden { -webkit-transform: scale(0); }

/* The arrow is a gray corner for the "box" (see .tool-box below) */
.tool-arrow {
	/* Positioning */
	position: relative; /* For the Z-index */
	margin-top: 11px; /* The tip matches the middle of the button */
	z-index: 1000;

	/* Box-model */
	width: 0;
	height: 0;

	/* Visual */
	border-style: solid;
}

/* The "box" is a gray container for the sidebar tool; it comes with an arrow (see .tool-arrow above) */
.tool-box {
	/* Box-model */
	height: auto;
	padding: 5px;

	/* Visual */
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,.2);
}

/* Markdown sidebar */
#md-control { left: 0; }

/* LEFT SIDEBAR TOOLS */
/* The displayer is actually a container that fades out when combined with the "hidden" class */
#md-control .tool-displayer {
	/* Positioning */
	left: 40px;

	/* Misc */
	-webkit-transform-origin: 1px 15px;
}

/* The arrow is a gray corner for the "box" (see #md-control .tool-box below) */
#md-control .tool-arrow {
	/* Positioning */
	margin-left: 1px;

	/* Box-model */
	float: left;

	/* Visual */
	border-color: transparent #fff transparent transparent;
	border-width: 4px 4px 4px 0;
}

/* The "box" is a gray container for the sidebar tool; it comes with an arrow (see #md-control .tool-arrow above) */
#md-control .tool-box {
	/* Box-model */
	width: 310px;
	float: left;
}

/* HELP INPUT SPECIFICS: HELP RESULTS */
#help-results-container {
	/* Box-model */
	/* No default height set: its height is set by its possible classes. */
	overflow: hidden;
	
	/* Typography */
	font-size: 10pt;
	line-height: 10pt;
	color: #1a1a1a;

	/* Misc */
	opacity: 1;
	transition: all .1s ease-out;
}

/* The four cases for the help results */
#help-results-container.hidden {
	/* Box-model */
	height: 0;

	/* Misc */
	opacity: 0;
}

#help-results-container.one-result { height: 50px; }

#help-results-container.two-results { height: 100px; }

#help-results-container.three-results { height: 150px; }

/* Container for both the answer and the example, also features a switch button to navigate between each */
.result {
	/* Positioning */
	position: relative;

	/* Box-model */
	width: 200%; /* Twice the #help-results-container's width */
	height: 50px;
}

.result:not(:first-of-type) { border-top: 1px solid #fafafa; }

/* The button to switch between the answer and the example */
.result-switch-container {
	/* Positioning */
	position: absolute;
	top: 0;
	right: 50%;
	z-index: 1000;

	/* Box-model */
	width: 30px;
	height: 100%;

	/* Visual */
	background-color: #fff; /* Hides the text underneath it during the transition */
}

.result-switch {
	/* Positioning */
	position: absolute;
	top: 50%;
	left: 0;
	margin: -15px 0 0; /* Auto vertical centering, more flexible in case of modification */

	/* Box-model */
	width: 30px;
	height: 30px;

	/* Typography */
	color: #4a4942;
	text-align: center;
	line-height: 30px;

	/* Misc */
	cursor: pointer;
	transition: all .1s ease-out;
}

.result-switch:hover { color: #000; }

/* The button's behavior when activated */
.result.switched .result-switch { -webkit-transform: rotate(180deg); }

.answer,
.example {
	/* Positioning */
	position: absolute;
	top: 5px;
	padding-right: 30px;

	/* Box-model */
	width: 50%; /* Half the .result's width, which means all the #help-results-container's width */
	height: 100%; /* All the .result's height */

	/* Misc */
	transition: left .1s ease-out;
}

/* Markdown answer of the help result, visible until the switch button is clicked */
.answer { left: 0; }

/* Answer behaviour when the switch is activated: it slides to the left and disappears */
.result.switched .answer { left: -50%; }

/* Example version of the help result, visible once the switch button is clicked */
.example { left: 50%; }

/* Example behaviour once the switch is activated: it slides to the left and shows up */
.result.switched .example { left: 0; }

/* When there is no result yet (less than 3 characters in the input), or no result at all */
.no-result { font-weight: bold; }

.no-result .result-switch { display: none; } /* Hide the switch */

.no-result .answer,
.no-result .example {
	/* Misc */
	transition: none; /* Cancel transitions for visual stability */
}

/* Part of the answer that matches the input */
.match {
	/* Visual */
	border-radius: 2px;

	/* Typography */
	color: #0a0a0a;

	/* Visual */
	background-color: #f0f0f0;
}

/* Title of the help item */
.help-title { font-weight: bold; }

/* Code in the help item */
.help-code {
	/* Typography */
	font-family: SourceCodePro;
	color: #4a4942;

	/* Misc */
	cursor: text; /* Visually inform the user that the example code is selectable */
	-webkit-user-select: text; /* Enable the user to select the example code */
}

/* Example images for the image insertion syntax */
.example-image {
	/* Positioning */
	margin: 0 auto;

	/* Box-model */
	width: 33%;
	height: calc(100% - 10px); /* Delete the visual padding */

	/* Visual */
	background-color: #e0e0e0;
	background-image: url("../img/example-image.png");
	background-repeat: no-repeat;
	background-position: center;
}

/* IMAGE INSERTION SPECIFICS */
#browse-image-module {
	/* Positioning */
	clear: both;

	/* Box-model */
	padding-top: 5px;
}

#image-status-container {
	/* Positioning */
	float: left;

	/* Box-model */
	width: 50%;
	height: 32px; /* Matches the button's height */
	padding-left: 5px;

	/* Typography */
	line-height: 30px; /* For vertical centering of the text. See #image-statut below */
}

#image-status {
	/* Box-model */
	width: 100%;

	/* Typography */
	font-size: 10pt;
	font-weight: bold;
	line-height: 11pt;
	vertical-align: middle;
	word-wrap: break-word;
}

/* The textual extension of the chosen image */
#extension { color: #b5b4b3; }

/* HTML CONVERSION SIDEBAR */
#conversion-control { right: 0; }

/* RIGHT SIDEBAR TOOLS */
/* The displayer is actually a container that fades out when combined with the "hidden" class */
#conversion-control .tool-displayer {
	/* Positioning */
	right: 40px;

	/* Misc */
	-webkit-transform-origin: 314px 15px;
}

/* The arrow is a gray corner for the "box" (see #conversion-control .tool-box below) */
#conversion-control .tool-arrow {
	/* Positioning */
	margin-right: 1px;
	float: right;

	/* Visual */
	border-color: transparent transparent transparent #fff;
	border-width: 4px 0 4px 4px;
}

/* The "box" is a gray container for the sidebar tool; it comes with an arrow (see #conversion-control .tool-arrow above) */
#conversion-control .tool-box {
	/* Box-model */
	width: 120px;
	float: right;
}

/* STYLES TOOL SPECIFICS */
.style-choice-container {
	/* Box-model */
	display: block;
	width: 100%;
	height: 27px;

	/* Typography */
	font-size: 10pt;
	font-weight: bold;
	line-height: 27px;
	color: #4a4942;
}

.style-choice-container label:hover { color: #000; }

.style-choice-container input[type="radio"]:checked + label:hover { color: #4a4942; }

/* -----------
	Workspace
   ----------- */
/* Wrapping all the content in the "workspace" div. */
#workspace {
	/* Positioning */
	position: relative;

	/* Box-model */
	height: 100%;

	/* Misc */
	transition: all .25s ease-out;
}

/* Setting the possible states for the "workspace" div and their behavior. */
#workspace.markdown-view {
	/* Positioning */
	margin-left: 0;

	/* Box-model */
	width: 200%;
}

#workspace.normal {
	/* Positioning */
	margin-left: 0;

	/* Box-model */
	width: 100%;
}

#workspace.conversion-view {
	/* Positioning */
	margin-left: -100%;

	/* Box-model */
	width: 200%;
}

/* --------
	Sheets
   -------- */
.sheet {
	/* Box-model */
	float: left;
	width: 50%;
	height: 100%;
	padding: 0 40px;

	/* Typography */
	color: #4a4942;
}

/* ---------------
	Markdown area
   --------------- */
#markdown {
	/* Box-model */
	width: 100%;
	min-height: 100%;
	padding: 40px 10px 40px;

	/* Typography */
	font-family: SourceCodePro;
	font-size: 11pt;

	/* Visual */
	border: none;
	background-color: transparent;

	/* Misc */
	resize: none;
}

#markdown:empty:before{ /* Placeholder*/
  	content: attr(placeholder);
  	color: grey;
}

/* -----------
	HTML area
   ----------- */
#html-conversion {
	/* Box-model */
	width: 100%;
	height: 100%;
	padding: 40px 0;
	overflow-x: hidden;
	overflow-y: auto;
}

/* ----------------------
	Center vertical line
   ---------------------- */
#center-line-container {
	/* Positioning */
	position: absolute;
	top: 0;
	left: 50%;

	/* Box-model */
	width: 1px;
	height: 100%;
	padding: 40px 0;

	/* Misc */
	transition: left .25s ease-out; /* /!\ SAME TRANSITION AS #workspace */
}

/* Center line behavior according to the workspace mode */
.markdown-view #center-line-container { left: 100%; }

/* Center line behavior according to the conversion view mode */
.conversion-view #center-line-container { left: -1%; } /* /!\ IT DRAWS A LINE ON THE LEFT BORDER */

/* The visual center line. Nothing to change here. */
#center-line {
	/* Box-model */
	width: 100%;
	height: 100%;

	/* Visual */
	background-color: #e0e0e0; /* /!\ CHANGE FOR AESTHETIC? */
}