/* ===========================
	WINDOWS WINDOW BAR STYLES
   ===========================
	Specific styles for Mado's window bar on Windows. */

#window-bar ul { height: 100%; } /* Enable percentage-based height for the list items */

#window-bar li {
	/* Positioning */
	float: right;

	/* Box-model */
	width: 40px;
	height: 100%;

	/* Typography */
	color: #fff;
	line-height: 20px;
	text-align: center;

	/* Visual */
	background: transparent;

	/* Misc */
	-webkit-app-region: no-drag; /* Disable drag action */
}

#window-close-button:hover { background-color: #d11; }

#window-close-button:active { background-color: #c01a1a; }

#window-maximize:hover,
#window-minimize:hover { background-color: #143d7a; }

#window-maximize:active,
#window-minimize:active { background-color: #103365; }