/* ============
	WINDOW BAR
   ============
	Specific styles for Mado's window bar.
	It displays three buttons:
		- "Minimize": on click, Mado is minimized;
		- "Maximize"/"Restore": on click, Mado is set to fullscreen mode or restored to its last dimensions;
		- "Close": on click, closes the document. */

#window-bar {
	/* Positioning */
	position: fixed;
	top: 0;
	left: 0;

	/* Box-model */
	width: 100%;
	height: 26px; /* /!\ CHANGE FOR AESTHETIC */

	/* Visual */
	background-color: white;
	-webkit-app-region: drag; /* Enable drag action */
}

#window-bar li {
	/* Positioning */
	float: right;

	/* Box-model */
	width: 40px;
	height: 26px;

	/* Misc */
	cursor: pointer;
	-webkit-app-region: no-drag; /* Disable drag action */
}

#window-bar li:first-of-type { background-color: red; }

#window-bar li:nth-of-type(2) { background-color: gray; }

#window-bar li:last-of-type { background-color: #eee; }