/* Generated via IcoMoon (http://icomoon.io/app/). */


/* -----------
	Big icons
   ----------- */

@font-face {
	font-family: 'Mado-Icons-Normal';
	src:url('../fonts/Mado-Icons-Normal.woff') format('woff'),
		url('../fonts/Mado-Icons-Normal.ttf') format('truetype'),
		url('../fonts/Mado-Icons-Normal.svg#Mado-Icons-Normal') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code (one class per icon) */
.icon-new,
.icon-open,
.icon-recent,
.icon-recent-clear,
.icon-save,
.icon-save-as,
.icon-export,
.icon-more,
.icon-help,
.icon-link,
.icon-image,
.icon-style {
	font-family: 'Mado-Icons-Normal';
	speak: none;
	font-size: 32px; /* Crisp size */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

/* NAVBAR ICONS */
.icon-new:before { content: "\e000"; }

.icon-open:before { content: "\e001"; }

.icon-recent:before { content: "\e002"; }

.icon-recent-clear:before { content: "\e003"; }

.icon-save:before { content: "\e004"; }

.icon-save-as:before { content: "\e005"; }

.icon-export:before { content: "\e006"; }

.icon-more:before { content: "\e007"; }

/* SIDEBAR ICONS */
/* Left sidebar icons */
.icon-help:before { content: "\e010"; }

.icon-link:before { content: "\e011"; }

.icon-image:before { content: "\e012"; }

/* Right sidebar icon */
.icon-style:before { content: "\e020"; }


/* --------------
	Little icons
   -------------- */

@font-face {
	font-family: 'Mado-Little-Icons-Normal';
	src:url('../fonts/Mado-Little-Icons-Normal.woff') format('woff'),
		url('../fonts/Mado-Little-Icons-Normal.ttf') format('truetype'),
		url('../fonts/Mado-Little-Icons-Normal.svg#Mado-Little-Icons-Normal') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code (one class per icon) */
.little-icon-switch,
.little-icon-delete,
.little-icon-unsaved,
.little-icon-saved {
	/* Typography */
	font-family: 'Mado-Little-Icons-Normal';
	speak: none;
	font-size: 16px; /* Crisp size */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

/* GENERIC ICONS */
.little-icon-switch:before { content: "\e000"; }

.little-icon-delete:before { content: "\e001"; }

/* FOOTER ICONS */
.little-icon-unsaved:before { content: "\e002"; }

.little-icon-saved:before { content: "\e003"; }