/* Property of A+A (juridically known as Allan Rope and Armand Grillet). ALL RIGHTS RESERVED.
See our Terms of Service in the "About" section for further information. */
#mado-header{position:fixed;top:0;left:0;z-index:1000;width:100%;height:60px;overflow:visible;background-color:#325c9c}