/* Minimalistic and futuristic style for the conversion view. Its name, "Clinic", reminds of the purity of a hospital. */

/* -------
	Fonts
   ------- */
/* Bariol Regular */
@font-face {
	/* Typography */
	font-family: Bariol;
	src: url('../../fonts/bariol_regular.ttf');
}

/* Bariol Bold */
@font-face {
	/* Typography */
	font-family: Bariol;
	font-weight: bold;
	src: url('../../fonts/bariol_bold.ttf');
}

/* Bariol Light */
@font-face {
	/* Typography */
	font-family: BariolLight;
	src: url('../../fonts/bariol_light.ttf');
}

/* Bariol Italic */
@font-face {
	/* Typography */
	font-family: Bariol;
	font-style: italic;
	src: url('../../fonts/bariol_italic.ttf'); /* /!\ BUY BARIOL ITALIC FAMILY */
}

/* Bariol Bold Italic */
@font-face {
	/* Typography */
	font-family: Bariol;
	font-style: italic;
	font-weight: bold;
	src: url('../../fonts/bariol_bold_italic.ttf'); /* /!\ BUY BARIOL ITALIC FAMILY */
}

/* Bariol Light Italic */
@font-face {
	/* Typography */
	font-family: BariolLight;
	font-style: italic;
	src: url('../../fonts/bariol_light_italic.ttf'); /* /!\ BUY BARIOL ITALIC FAMILY */
}

.clinic .sheet:last-of-type {
	/* Typography */
	font-family: Bariol, sans-serif;
	font-size: 13pt;
	letter-spacing: 0.05em;
}

/* --------
	Titles
   -------- */
.clinic .sheet:last-of-type h1,
.clinic .sheet:last-of-type h2,
.clinic .sheet:last-of-type h3 {
	/* Typography */
	font-family: BariolLight;
}