/* ============
	BOTTOM BAR
   ============ */
footer {
	/* Positioning */
	position: fixed;
	bottom: 0;
	left: 0;

	/* Box-model */
	width: 100%;
	height: 20px;
	padding: 0 10px;

	/* Typography */
	font-size: 0.8em;
	line-height: 20px;
	color: #fafafa;

	/* Visual */
	background-color: #4a4942;

	/* Misc */
	cursor: default;
}

#character-nb,
#word-nb {
	/* Positioning */
	display: inline;

	/* Visual */
	border-radius: 2px;

	/* Misc */
	cursor: pointer;
}

#character-nb:hover,
#word-nb:hover {
	/* Typography */
	color: #fff;

	/* Visual */
	background-color: #5f5e52;

}

#character-nb:active,
#word-nb:active {
	/* Visual */
	background-color: #424139;
}

#save-state {
	/* Positioning */
	position: relative; /* Help positioning the corresponding icon */

	/* Box-model */
	padding-right: 20px; /* Give the icon the place to display */
}

#save-state span {
	/* Positioning */
	position: absolute;
	top: 0;
	right: 0;

	/* Box-model */
	display: block;
	width: 20px;
	height: 20px;

	/* Typography */
	line-height: 20px !important;
	text-align: center;
}