/* =====================================
	WINDOWS OPTIONS CLOSE BUTTON STYLES
   =====================================
	Specific styles for Mado's options' close button on Windows. */

#window-close {
	/* Positioning */
	position: fixed;
	top: 0;
	right: 0;

	/* Box-model */
	width: 40px;
	height: 20px;
	padding-left: 1px; /* Counterbalance the right border */

	/* Typography */
	color: #fff;
	line-height: 18px;
	text-align: center;

	/* Visual */
	background-color: #f24848;
	border-color: #991515;
	border-style: solid;
	border-width: 1px 1px 0 0;

	/* Misc */
	-webkit-app-region: no-drag; /* Disable drag action */
}

#window-close:hover { background-color: #d11; }

#window-close:active { background-color: #c01a1a; }

/* -------
	Frame
   ------- */
body { border: 1px solid #5f5e52; }