/* ==============
	MISCELLANOUS
   ============== */
* {
	/* Box-model */
	box-sizing: border-box; /* Simplifies width and height calculation */

	/* Misc */
	outline: none; /* Disables default outlining style (on Google Chrome, a golden border light) */
}

html,
body {
	/* Box-model */
	width: 100%;
	height: 100%;
}

body {
	/* Box-model */
	padding: 20px;
	overflow: auto;

	/* Typography */
	color: #4a4942;
	font-family: "Segoe UI", HelveticaNeue, "Helvetica Neue", Roboto, "Open Sans", sans-serif; /* System fonts for Windows, OS X and Android/Chrome OS */
	font-size: 11pt;
}

/* The call to action (CTA) class forces the cursor to be a pointer */
.cta { cursor: pointer; }

/* The button class renders a generic clickable button */
.button {
	/* Box-model */
	float: left;
	max-width: 150px;
	padding: 7px 10px;

	/* Typography */
	color: #fff;
	font-size: 10pt;
	line-height: 12pt;
	font-weight: bold;
	text-align: center;

	/* Visual */
	background-color: #1c75ea;
	border-bottom: 2px solid #104387;
	border-radius: 3px;
}

.button:hover {
	/* Visual */
	background-color: #187af9;

	/* Misc */
	transition: background-color .1s ease;
}

.button:active {
	/* Visual */
	background-color: #156ad8;
	border-bottom: none;
	border-top: 2px solid #104387;

	/* Misc */
	transition: none;
}

/* --------------
	Basic styles
   -------------- */
a {
	/* Typography */
	color: #1c75ea;
	text-decoration: none;
}

a:hover { text-decoration: underline; }

a:active { color: #187af9; }

em { font-style: italic; }

strong { font-weight: bold; }

sup {
	/* Typography */
	font-size: 9pt;
	line-height: 0;
	vertical-align: super;
}

input[type="text"] {
	/* Box-model */
	width: 300px;
	height: 30px;
	padding: 0 5px;

	/* Visual */
	border: 1px solid #f0f0f0;
}

/* ---------------
	Option styles
   --------------- */
/* Main title for the option window */
#option-title {
	/* Box-model */
	padding-bottom: 14px;

	/* Typography */
	font-family: "Segoe UI Light", "HelveticaNeue-Light", "Helvetica Neue Light", "RobotoLight", "Roboto Light", "Open Sans", sans-serif;
	font-size: 22pt;
	line-height: 40px;
}

/* Content block inside the option window */
.option-part { line-height: 27px; }

.option-part:not(:first-of-type) {
	/* Box-model */
	padding-top: 10px;

	/* Visual */
	border-top: 1px solid #f0f0f0;
}

.option-part:not(:last-of-type) { padding-bottom: 10px; }

.option-part-title {
	/* Box-model */
	padding: 14px 0 13px;

	/* Typography */
	font-family: "Segoe UI Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Roboto Light", "Open Sans", sans-serif;
	font-size: 14pt;
	line-height: 27px;
}

.input-container {
	/* Positioning */
	float: left;

	/* Box-model */
	display: block;
	width: 40px;
	height: 27px;

	/* Typography */
	text-align: center;
}

/* Label positioning; there is a .label-container class because the label itself, displayed as a block, would become clickable on the full window width. */
.option-part .label-container {
	/* Box-model */
	display: block;
	width: 100%;
	padding-left: 40px;
}