li {
	display: block;
}

ul {
	-webkit-padding-start : 0;
}

i {
	color: #626262;
	padding: 5px;
}

i:hover {
	color: #000;
	cursor: pointer;
}

#topbar {
	background-color: rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	height: 30px;
	position: fixed;
	top: 0;
	width: 100%;
}

#top_inner {	
	cursor: default;
	line-height: 30px;		
	margin: 0 auto;
	width: 90%;
}

#left {
	border-left: 0;
	float: left;
}

#right {
	border-right: 0;
	float: right;
	right: 0;
}

#doc_info {
	margin:0 auto;
	width: 30px;
}

@media handheld, only screen and (min-width: 1600px){ 
    #doc_info {
    	display: none;
    }
}

