/* ==============
	MISCELLANOUS
   ============== */

body { padding: 60px 0 20px; } /* Simplifies positioning according to the topbar and the footer; the padding-top is the sum of the window bar and the navbar */

#document {
	/* Positioning */
	position: relative;

	/* Box-model */
	width: 100%;
	height: 100%;
	overflow: hidden;

	/* Visual */
	background-color: #fafafa;
}


/* =======
	FONTS
   ======= */

@font-face {
	/* Typography */
	font-family: SourceCodePro;
	src: url('../fonts/SourceCodePro-Regular.ttf');
}