/* ================================
	RESPONSIVE FOR SMALLER SCREENS
   ================================ */
/* Screens strictly under 1600 pixels */
@media screen and (max-width: 1599px) {
	/* --------------
		Navbar items
	   -------------- */
	.nav-icon { padding: 0; }

	.nav-label {
		/* Box-model */
		width: 0;

		/* Misc */
		opacity: 0;
	}
}

/* Screens strictly under 1366 pixels */
@media screen and (max-width: 1159px) {
	/* ---------------
		Navbar switch
	   --------------- */
	#view-switch { width: 180px; } /* Normal width minus the "Both" button's width */

	/* The second switch button ("Both") */
	.switch-button:nth-of-type(2) {
		/* Box-model */
		width: 0;
		padding: 0;
	}

	/* Switch cursor's position when in markdown view and normal view */
	.markdown-view #switch-cursor,
	.normal #switch-cursor {
		/* Positioning */
		margin-left: -49px;
	}

	/* Switch cursor's position when in HTML view */
	.conversion-view #switch-cursor { margin-left: 41px; }

	/* -----------
		Workspace
	   ----------- */
	/* Setting the workspace's behavior in normal mode when on small screen */
	#workspace.normal { width: 200%; }

	.normal #center-line-container {
		/* Positioning */
		left: 100%;

		/* Misc */
		opacity: 0;
	}
}